.card {
    color: var(--light);
    text-transform: uppercase;
    font-size: small;
    width: 180px;
    overflow: hidden;

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: top;
    }

}